services:
  # Use: docker compose run --rm nmap
  # Inside container: nmap --privileged -sS -O -sV -F -v -oA scanme.log scanme.nmap.org
  nmap:
    build:
      context: ./docker/nmap
      args:
        USERNAME: hacker
        USER_ID: ${UID:-1000}
        GROUP_ID: ${GID:-1000}
    image: nmap-user
    container_name: nmap-user
    hostname: parrot-toolbox
    network_mode: host
    cap_add:
      - NET_RAW
    volumes:
      - ./work:/work
    working_dir: /work
    entrypoint: ["bash"]
